body {
    background: gray;
    font: normal 15pt Arial;
}

header {
color: black;
text-align: center;
}

section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 2px 2px 2px 2px rgb(85, 78, 78);
}

footer {
    color:black;
    text-align: center;
}
